{% extends 'sections/section-container.twig' %}

{% block sectionClasses %}celebrate-section{% endblock %}

{% block section %}

<p>
    <span class='pleasure-text'>We take great pleasure<br/></span>
    <span class='invite-text'>in inviting you to help us<br/></span>
    <span class='celebrate-text'>celebrate<br/></span>
</p>


{% endblock section %}
