{% extends 'sections/section-container.twig' %}

{% block sectionClasses %}date-place-section{% endblock %}

{% block section %}

<div class='container'>
    <div class='half-container date-container'>
        <i class='calendar-icon'></i>
        <p>
            <span class='saturday-text'>SATURDAY<br/></span>
            <span class='date-text underlined'>5TH SEPT 2015.<br/></span>
        </p>
    </div>
    <div class='half-container place-container'>
        <i class='location-icon'></i>
        <p>
            <a href='https://www.google.com/maps/place/Brisbane+City+Hall/@-27.468981,153.023519,17z/data=!4m7!1m4!3m3!1s0x6b9159ed38eb42d7:0x81e26c2a81aec5e7!2sBrisbane+City+Hall!3b1!3m1!1s0x6b9159ed38eb42d7:0x81e26c2a81aec5e7' target='_blank'>
                <span class='brisbane-text'>BRISBANE<br/></span>
                <span class='city-hall-text underlined'>CITY HALL.<br/></span>
            </a>
        </p>
    </div>
</div>


{% endblock section %}
