{% extends 'sections/section-container.twig' %}

{% block sectionClasses %}dress-section{% endblock %}

{% block section %}

<p>
    <span class='dress-text'>Dress<br/></span>
    <a href='http://www.glamourdrops.com/posts/2013/07/12/dress-codes-defined-from-white-tie-to-smart-casual' target='_blank'>
        <span class='cocktail-text underlined'>Lounge / Cocktail<br/></span>
        <span class='sub-text'>(Click for dress code definition)</span>
    </a>
</p>

{% endblock section %}
