{% extends 'sections/section-container.twig' %}

{% block sectionClasses %}dress-section{% endblock %}

{% block section %}

<p>
    <span class='dress-text'>Dress<br/></span>
    <span class='cocktail-text'>Cocktail</span>
</p>


{% endblock section %}
