{% extends 'sections/section-container.twig' %}

{% block sectionClasses %}party-section{% endblock %}

{% block section %}

<p>
    <span class='decided-text'>Have decided to<br/></span>
    <span class='party-text'>have a party<br/></span>
    <span class='married-text'>(and get married)<br/></span>
</p>


{% endblock section %}
