{% extends 'sections/section-container.twig' %}

{% block section %}
    <div class='heart-arrows'>
        <i class='arrow arrow-left'></i><i class='heart-icon'></i><i class='arrow arrow-right'></i>
    </div>

{% endblock section %}
