{% extends 'sections/section-container.twig' %}

{% block sectionClasses %}rsvp-section{% endblock %}

{% block section %}

<p>
    <span class='rsvp-text'>RSVP<br/></span>
    <a href='mailto:rsvp@mattdaniels.com.au?Subject=RSVP%20for%20Matt%20%26%20Amanda%27s%20Wedding&Body=%5BPLEASE%20DELETE%20ONE%5D%0AWe%20would%20love%20to%20come%20to%20your%20Marry%20Party%21%20%0AWe%20are%20going%20to%20have%20%5B%23%5D%20of%20adults%20and%20%5B%23%5D%20of%20children.%0A%0AWe%27re%20sorry%2C%20but%20we%20can%27t%20come%20to%20your%20Marry%20Party%2C%20but%20are%20totally%20jealous%20we%20are%20missing%20out%21%0A%0A%0A%0A%5BPLEASE%20PROVIDE%20A%20SONG%20THAT%20WOULD%20GET%20YOU%20ON%20THE%20DANCE%20FLOOR%20%28bear%20in%20mind%20we%20may%20not%20be%20able%20to%20accommodate%20all%20requests%2C%20but%20will%20try%29%5D%0ASong%20choice%28s%29%3A%0A%0A%0A%0A%5BPLEASE%20PROVIDE%20FOOD%20ALLERGIES%20%28Please%20note%2C%20%27Paleo%27%20is%20not%20an%20allergy%29%5D%0AFood%20Allergies%3A%20%0A' target='_blank'>
        <span class='rsvp-date-text underlined'>5TH AUG 2015<br/></span>
        <span class='sub-text'>(Click to send RSVP email)</span>
    </a>
</p>


{% endblock section %}
