{% extends 'sections/section-container.twig' %}

{% block sectionClasses %}rsvp-section{% endblock %}

{% block section %}

<p>
    <span class='rsvp-text'>RSVP<br/></span>
    <span class='rsvp-date-text'>5TH AUG 2015</span>
</p>


{% endblock section %}
