{% extends 'sections/section-container.twig' %}

{% block sectionClasses %}the-plan-section{% endblock %}

{% block section %}

<p>
    <span class='exchanging-text'>Exchanging of marriage vows<br/></span>
    <span class='take-place-text'>will take place at 4pm in the<br/></span>
    <span class='hamilton-text'>HAMILTON LOUNGE<br/></span>
</p>


{% endblock section %}
