
.heart-arrows {
    width: 100%;
    height: 42px;
    display: block;
    vertical-align: middle;
}

.arrow {
    width: 150px;
    height: 23px;
    display: inline-block;
    background: transparent url(/img/right-arrow-1.svg) no-repeat;
    // background: transparent url(/img/right-arrow.svg) no-repeat;
    margin: 0 34px;
}
.arrow-left {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.heart-icon {
    background: transparent url(/img/heart.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    .square(42px);
    margin-bottom: -8px;
}

.and-icon {
    background: transparent url(/img/and-symbol.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    .square(42px);
}

.horizontal-double-line {
    background: transparent url(/img/horizontal-double-line.svg) no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    .size(374px, 14px);
}

.calendar-icon {
    background: transparent url(/img/calendar.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    .square(42px);
    margin: 0 auto;
}

.location-icon {
    background: transparent url(/img/location.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    .square(42px);
    margin: 0 auto;
}

.mail-icon {
    background: transparent url(/img/mail.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    .square(42px);
}
