{# title Home #}

{% extends 'layouts/one_column.twig' %}

{% block inline %}

{% endblock inline %}

{% block content %}

<div class="main-container">
    {% include 'sections/welcome-section.twig'  %}

    {% include 'sections/heart-arrows.twig'  %}

    {% include 'sections/story-section.twig'  %}

    {% include 'sections/us-section.twig'  %}

    {% include 'sections/have-a-party-section.twig'  %}

    {% include 'sections/heart-arrows.twig'  %}

    {% include 'sections/celebrate-together-section.twig'  %}

    {% include 'sections/date-place-section.twig'  %}

    {% include 'sections/the-plan-section.twig'  %}

    {% include 'sections/the-plan-II-section.twig'  %}

    {% include 'sections/heart-arrows.twig'  %}

    {% include 'sections/dress-section.twig'  %}

    {% include 'sections/rsvp-section.twig'  %}

    {% include 'sections/gifts-section.twig'  %}

    {% include 'sections/save-the-trees-section.twig'  %}

</div>

{% endblock content %}
